#root {
  margin: 0 auto;
  text-align: center;
}

/* note: dynamic viewport width - that's new!! */
.header {
  display: flex;
  align-items: center;
  width: 90dvw;
  height: 5rem;
  outline: solid black;
}

.header__title {
  /* outline: blue solid; */
  font-size: 1rem;
  width: 20%;
}

.header__nav {
  /* outline: green solid; */
  flex: 80%;
}

.header__nav-list {
  /* outline: orange dotted; */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__nav-item {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.misdemeanour__table {
  width: 100%;
  border: solid black;
}
